/*.iml
/*.ipr
/*.iws
/.classpath
/.factorypath
/.idea
/.project
/.settings
/nb*
/release.properties
/target

# These are needed if running in IDE without properties set
/ibderby
derby.log
/bin/
/docs/mybatis.asta.lock
/mitix-mybatis/mitix-mybatis-len1/target
/mitix-mybatis/mitix-mybatis-spring/target
/mitix-mybatis/mybatis-spring/target